@import "~antd/dist/antd.css";

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.ori-appContainer {
    width: 367px;
    padding: 15px 40px 15px 15px;
}

.default-entity {
    background-color: lightcoral;
}

.ori-lr-pad-10 {
    padding-left: 10px;
    padding-right: 10px;
}

.ori-text-center {
    text-align: center;
}

.ori-t-border-light {
    border-top: 1px solid lightgray;
}

.ori-font-xs {
    font-size: 12px;
}

.ori-full-width {
  width: 100%;
}

.ori-bg-card {
  background-color: rgb(236, 235, 235);
}

.ori-tb-pad-5 {
  padding-top: 5px;
  padding-bottom: 5px;
}

.ori-lr-pad-10 {
  padding-left: 10px;
  padding-right: 10px;
}

.ori-b-mrgn-5 {
  margin-bottom: 5px;
}

.ori-cursor-ptr {
  cursor: pointer;
}

.ori-border-radius-3{
  border-radius: 3px;
}

.ori-border-light {
  border: 1px solid rgb(240, 238, 238)
}

.ori-border-default {
  border: 1px solid #d9d9d9
}

.ori-border-primary {
  border: 1px solid #e40f0f
}

.ori-font-primary {
  color: #e40f0f
}

.ori-flex-row{
  display: flex;
  flex-direction: row;
}

.ori-flex-jc{
  justify-content: center;
}

.ori-flex-ac{
  align-items: center;
}

.ori-align-full{
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.ori-pad-15{
  padding: 15px;
}
