.customPaginationContainer {
  box-sizing: border-box;
  margin: 0 !important;
  padding: 0;
  list-style: none;
  overflow: hidden;
  display: block;
}

.paginationItem {
  height: 24px;
  width: 24px;
  line-height: 22px;
  list-style: none;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  border-radius: 4px;
  margin-right: 5px;
  font-size: 12px;
  cursor: pointer;
}